<% include partials/head %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <img src="<%= campground.image %>" class="img-thumbnail" />
      <h1>
        <%= campground.name %>
      </h1>
      <p>
        <%= campground.description %>
      </p>
      <ul>
        <% campground.comments.forEach((comment) => { %>
        <li>
          <strong><%= comment.author %></strong>
          <p><%= comment.text %></p>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<% include partials/foot %>
